{{ define "agent.header" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hidag E-voting system</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/agent.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-success justify-content-between">
        <a class="navbar-brand text-white">ሕዳግ የምርጫ መተግበሪያ ውኂብ</a>
    </nav>
    
{{ end }}