{{ define "agent.verify.layout" }}
{{ template "agent.header" }}
{{ template "agent.verify.content" . }}
{{ template "agent.footer" }}
{{ end }}

{{ define "agent.verify.content" }}
<div class="container mx-auto">
    <div class="row mx-auto">
        <div class="col-md-3"></div>
        <div id="form-login" class="col-md-6 shadow-sm bg-white rounded" >
            <form method="POST" action="/agent/verifyvoter"  class="p-3 pt-5">
                <div class="form-group">
                <label for="exampleInputEmail1 text-center">የመራጭ መለያ ቁጥር</label>
                <input type="text"  class="form-control" name = "uuid" placeholder="የመራጭ መለያ ቁጥር አስገባ" required>
                <input type="text" name="pollnum" class="form-control" value="{{ .PollNo }}" placeholder="{{ .PollNo }}">
            </div>
            <button type="submit" class="btn btn-danger form-control">ፈልግ</button>
            </form>
        </div>
    </div>
</div>
{{ end }}