html, body, .container {
    background-color: #F8F9FA;
}

#form-login {
    margin-top: 50px;
}

#logo{
    width: 200px;
    padding-top: 20px;
}

footer {
    /* margin-top: 50px; */
}

.radio {
    width: 30px;
    height: 50px;
    margin-top: 15px;
    float: right;
}

#vote-btn {
    width: 200px;
    height: 50px;
    float: right;
}